p {
    font-size: 12px;
}

.posts-container-wrapper {
    height: 50%;
    width: 33%;
    min-width: 400px;
    
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header h2 {
    font-size: 12px;
    font-weight: bold;
}

.post-thumb-wrapper {
    height: 50px;
    width: 50px;
}

.post-thumb {
    height: 80%;
    margin: 5px;
    border-radius: 50%;
}

.post-border {
    border: 1px solid #d3d3d3;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.post-image {
    width: 100%;
}

.post-image-wrapper {
    height: 100%;
    width: 100%;
}

.like-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.like-section-wrapper p {
    text-align: left;
}

.like-section-wrapper-comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 0 10px;
}

.like-section-wrapper-comment p {
    margin: 4px 0;
}

.icon {
    margin: 10px 0;
    margin-right: 10px;
}

.timestamp {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px;
    font-size: 12px;
}

.like-count {
    margin: 0
}

.author-post {
    font-weight: bold;
}

.view-comments {
    color: grey;
    margin: 3px 0;
}

.comment-form {
    width: 100%;
    margin: 10px 0;
}

.comment-form input {
    width: 90%;
    font-size: 14px;
    padding: 10px;
    border: none; 
    color: #999;
    border: 1px solid #efefef;

}
